@keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
  }

html{
    height: 100%;
}

.jumbotron-home{
    text-align: center; 
}
.card-body{
    height: 2%;
    text-align: center;
    background-color: transparent;
    color: white;
}
.container-gold-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#goldCard{
    margin: 30px;
    animation: BackgroundAnimated 10s linear infinite;
    width: 25rem;
    height: 17rem;
    background-color: #a89344;
    background-image: url("../../components/Images/codebg.PNG");
}

#logo{
    width: 41%;
    margin: 0 auto;
    padding: 0;
    background-color: #a89344;
    background-image: url("https://www.transparenttextures.com/patterns/real-carbon-fibre.png");

}

.card-btn{
    background-color:#102846;
    border-color: white;
    color: #a89344;
}
.card-btn:hover{
    background-color:#a89344;
    border-color: #102846;
    color: #102846;
}
a{
    color: #a89344;
}
a:hover{
    color: #102846;
}