.create {
  color: white
}


.box{
  margin-left: 300px;
  margin-right: 300px;
}

.yes{
  margin-left: 230px;
  color: white;
}

.hello{
  margin-left: 300px;
}

.tap{
  margin-left: 300px;
  color:white;
}

.yezz{
  margin-left:300px;
}