.create {
  color: white
}


.box{
  margin-left: 200px;
  margin-right: 200px;
}

.yes{
  margin-left: 130px;
  color: white;
}

.hello{
  margin-left: 200px;
}

.tap{
  margin-left: 200px;
  color:white;
  

}
