html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-attachment: fixed;
}

#logo-main {
    height: 300px;
    background-color: transparent;
    background-image: none;
    margin: 0 auto;
    display: list-item;

}

.container {
    height: 25rem;
}

#cardy{
    margin-left: 0%;
    text-align: center;
    background-color: #a8924469;
}