.card {
  background: #fff;
  color: black;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 80%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .content {
  font-size: 15px;
}

p {
  padding-left: 5%;
}


